.pair-outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pair-outer button {
    padding: 0.7em;
    width: 4em;
    position: relative;
    top: 5em;
    right: 5em;
    border-radius: 4px;
}

.pair {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid white;
}

.pair p {
    margin-right: 5px;
    padding: 0.5em;
    text-align: left;
}

.pair form {
    display: flex;
    align-items: center;
    width: 20em;
}

.word {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  margin-left: 0.5em;
}

.word textarea {
  width: 90%;
  border-radius: 4px;
  font-size: 0.6em;
  padding: 1.2em 0.3em;
}

.word span {
    background: white;
    color: black;
    margin: 0.1em;
    padding: 0.1em;
    border-radius: 4px;
    font-size: 0.6em;
}

img {
    width: 1em;
    border-radius: 4px;
    margin: 0.2rem;
    padding: 0.2em;
    color: white;
}

.icon:hover {
    cursor: pointer;
}

.splited {
    display: flex;
    flex-wrap: wrap;
}

.splited div {
    margin: 0.1em;
    background: white;
    color: black;
    border-radius: 4px;
    padding: 0.1em;
}
